<li class="chat__list-item-wrapper">
    <div class='chat__list-item'>
        <img src='{{ avatar }}' alt='{{ title }}' class='chat__list-user-img'/>
        <div class='chat__list-content'>
            <p class='chat__list-from'>{{title}}</p>
            <p class='chat__list-preview'>
                {{last_message}}
            </p>
        </div>
        <div class='chat__list-info'>
            <div class='chat__list-timestamp'>{{timestamp}}</div>
                <div class='chat__list-count'>{{unread_count}}</div>
        </div>
    </div>
</li>

