<form class="{{styles.form}}" name="{{ name }}">
    {{#if avatar}}
        {{{ avatar }}}
    {{/if}}
    {{#if title}}
        <h2 class='{{styles.form__header}}'>{{ title }}</h2>
    {{/if}}
    <div class="{{styles.form__body}}">
        {{# each fields }}
            {{{ this }}}
        {{/ each }}
    </div>
    {{#if submitText }}
        <div class='{{styles.form__footer}}'>
            <button type='submit' class='{{styles.form__footer-button}}'>{{ submitText }}</button>
            {{#if redirectText}}
            {{{ link }}}
            {{/if}}
        </div>
    {{/if}}
</form>
