<div class="{{styles.form__input-wrapper}}">
    <input
            id={{id}}
            name={{name}}
            type={{type}}
            value='{{value}}'
            class='{{styles.form__input}}'
            placeholder='{{placeholder}}'
        {{#if disabled}}
            disabled
        {{/if}}
    >
    {{{ error }}}
</div>
